<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VaeAttentanceBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0A59DCB1EC01CD20027E91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A59DDF1EC01CD20027E91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0A59DEA1EC01CD20027E91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
